[class*="col-"], footer {
    text-align: center;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.intro {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #FF6400;
}

#section_cv {
    background-color: #33DD51;
}

    #section_cv h2, #section_cv h3 {
        color: white;
    }

    #section_cv hr {
        background-color: white;
        width: 40px;
        height: 3px;
    }

h1 {
    padding-top: 30px;
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-align: left;
}

h2 {
    font-weight: 600;
    font-size: 2.5em;
}

.row h4 {
    text-align:left;
    font-size:1.5em;
}

.titre_label {
    top:-10px;
    margin-left:15px;
}


.timeline-centered .timeline-entry .timeline-entry-inner .label_dev:hover {
    box-shadow: 0px 0px 15px #444;
}

.timeline-centered .timeline-entry .timeline-entry-inner .label_dev {
    transition-property: box-shadow;
    transition-duration: .3s;
}

body {
    height: 100%;
    position: relative;
}

html {
    height: 100%;
}


.table-align {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.navbar-default {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FF6400;
    border-bottom: 0;
}

.navbar-brand {
    padding-left: 60px;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.navbar-right li {
    margin-right: 30px;
    color: white;
}


.navbar-default .navbar-nav li a {
    color: #FFBF99;
    font-weight: 600;
    font-size: 17px;
}

.top-nav-collapse .navbar-nav li a:hover {
    color:white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFBF99;
}

.navbar .navbar-brand:visited {
    color: white;
}

.navbar .navbar-active li .active a {
    outline: 0;
    background: none;
    border-bottom: none !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    text-decoration: underline;
    outline: 0;
    background: none;
    border-bottom: none !important;
}

 .navbar-default .navbar-nav li a:hover {
        color: white;
        text-decoration: underline;
    }

@media(min-width:767px) {
    .navbar {
        border-bottom: 0;
        background: 0 0;
        -webkit-transition: background .8s ease, color .8s ease;
        -moz-transition: background .8s ease, color .8s ease;
        -o-transition:background .8s ease, color .8s ease;
        transition: background .8s ease, color .8s ease;
    }

    .top-nav-collapse {
        background-color: rgba(255, 255, 255, 1);
        margin-top: 0;
        color: #333332;
    }

        .top-nav-collapse .nav li .active a {
            color: #333332 !important;
        }

        .top-nav-collapse li a {
            color: #333332 !important;
        }

        .top-nav-collapse .navbar-brand {
            color: #333332 !important;
        }
}

section {
    padding-top: 70px;
}

.green {
    padding-top: 6px;
    color: #33DD51;
    font-size: 1.7em;
}




.description {
    text-align:justify;
}


@media(max-width:767px) {
    .timeline-centered {
        left: -150px;
    }
}

@media(max-width:992px) {
    h1 {
        text-align: center;
    }

    .link_dev {
        left:10px;
    }
}

/******************************************************/
#my-timeline:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #f5f5f6;
        /* left: 50%; */
        top: 20px;
        bottom: 20px;
        margin-left: 37px;
}

#my-timeline .timeline-entry {
        position: relative;
        /* width: 50%; */
        /* float: right; */
       
        clear: both;
        margin-left: 40px;
        margin-right: 10px;
        margin-bottom: 70px;
}

#test {
    background-color:aqua;
}