[class*="col-"], footer {
    text-align: center;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.intro {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #FF6400;
}

#section_cv {
    background-color: #33DD51;
}

    #section_cv h2, #section_cv h3 {
        color: white;
    }

    #section_cv hr {
        background-color: white;
        width: 40px;
        height: 3px;
    }

h1 {
    padding-top: 30px;
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-align: left;
}

h2 {
    font-weight: 600;
    font-size: 2.5em;
}

.row h4 {
    text-align:left;
    font-size:1.5em;
}

.titre_label {
    top:-10px;
    width: 170px;
    margin-left:15px;
}


.link_dev a p, .link_dev a i{
    
}

.link_dev {
    padding-left:0px;
    padding-right:0px;

    opacity:0;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.timeline-centered .timeline-entry .timeline-entry-inner .label_dev:hover {
    box-shadow: 0px 0px 15px #444;
}

.timeline-centered .timeline-entry .timeline-entry-inner .label_dev {
    transition-property: box-shadow;
    transition-duration: .3s;
}

body {
    height: 100%;
    position: relative;
}

html {
    height: 100%;
}


.table-align {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.navbar-default {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FF6400;
    border-bottom: 0;
}

.navbar-brand {
    padding-left: 60px;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.navbar-right li {
    margin-right: 30px;
    color: white;
}


.navbar-default .navbar-nav li a {
    color: #FFBF99;
    font-weight: 600;
    font-size: 17px;
}

.top-nav-collapse .navbar-nav li a:hover {
    color:white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFBF99;
}

.navbar .navbar-brand:visited {
    color: white;
}

.navbar .navbar-active li .active a {
    outline: 0;
    background: none;
    border-bottom: none !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    text-decoration: underline;
    outline: 0;
    background: none;
    border-bottom: none !important;
}

 .navbar-default .navbar-nav li a:hover {
        color: white;
        text-decoration: underline;
    }

@media(min-width:767px) {
    .navbar {
        border-bottom: 0;
        background: 0 0;
        -webkit-transition: background .8s ease, color .8s ease;
        -moz-transition: background .8s ease, color .8s ease;
        transition: background .8s ease, color .8s ease;
    }

    .top-nav-collapse {
        background-color: rgba(255, 255, 255, 1);
        margin-top: 0px;
        color: #333332;
    }

        .top-nav-collapse .nav li .active a {
            color: #333332 !important;
        }

        .top-nav-collapse li a {
            color: #333332 !important;
        }

        .top-nav-collapse .navbar-brand {
            color: #333332 !important;
        }
}

section {
    padding-top: 70px;
}



img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #ffffff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    left: -190px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.timeline-label {
    left: -4px;
    width: 150%;

    word-wrap: break-word;
}

.type-text {

}


.green {
    padding-top: 6px;
    color: #33DD51;
    font-size: 1.7em;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}

.timeline-centered:after {
    clear: both;
}

.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #FFFFFF;
    left: 50%;
    top: 20px;
    bottom: 20px;
    margin-left: -4px;
}

.timeline-centered .timeline-entry {
    position: relative;
    width: 50%;
    float: right;
    margin-bottom: 70px;
    clear: both;
}



    .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
        content: " ";
        display: table;
    }

    .timeline-centered .timeline-entry:after {
        clear: both;
    }

    .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
        content: " ";
        display: table;
    }

    .timeline-centered .timeline-entry:after {
        clear: both;
    }

    .timeline-centered .timeline-entry.begin {
        margin-bottom: 0;
    }

    .timeline-centered .timeline-entry.left-aligned {
        float: left;
    }

        .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
            margin-left: 0;
            margin-right: -18px;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                left: auto;
                right: -100px;
                text-align: left;
                color: white;
            }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                float: right;
            }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                margin-left: 0;
                margin-right: 70px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                    left: auto;
                    right: 0;
                    margin-left: 0;
                    margin-right: -9px;
                    -moz-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

    .timeline-centered .timeline-entry .timeline-entry-inner {
        position: relative;
        margin-left: -22px;
    }

        .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry .timeline-entry-inner:after {
            clear: both;
        }

        .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry .timeline-entry-inner:after {
            clear: both;
        }

        .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
            position: absolute;
            left: -80px;
            top: -6px;
            text-align: right;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: white;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                display: block;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                    font-size: 25px;
                    font-weight: bold;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                    font-size: 17px;
                }

        .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
            background: #FFFFFF;
            color: #737881;
            display: block;
            width: 40px;
            height: 40px;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            text-align: center;
            -moz-box-shadow: 0 0 0 5px #FFFFFF;
            -webkit-box-shadow: 0 0 0 5px #FFFFFF;
            box-shadow: 0 0 0 5px #FFFFFF;
            line-height: 40px;
            font-size: 15px;
            float: left;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                background-color: #303641;
                color: #FFFFFF;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                background-color: #ee4749;
                color: #FFFFFF;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                background-color: #00a651;
                color: #FFFFFF;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                background-color: #21a9e1;
                color: #FFFFFF;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                background-color: #fad839;
                color: #FFFFFF;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                background-color: #cc2424;
                color: #FFFFFF;
            }

        .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
            position: relative;
            background: #FFFFFF;
            padding: 1.7em;
            margin-left: 70px;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 9px 9px 9px 0;
                border-color: transparent #FFFFFF transparent transparent;
                left: 0;
                top: 10px;
                margin-left: -9px;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                color: #737881;
                font-family: "Noto Sans",sans-serif;
                font-size: 12px;
                margin: 0;
                line-height: 1.428571429;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                    margin-top: 15px;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                font-size: 16px;
                margin-bottom: 10px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                    color: #303641;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                    -webkit-opacity: .6;
                    -moz-opacity: .6;
                    opacity: .6;
                    -ms-filter: alpha(opacity=60);
                    filter: alpha(opacity=60);
                }

.description {
    text-align:justify;
}


@media(max-width:767px) {
    .timeline-centered {
        left: -150px;
    }
}

@media(max-width:992px) {
    h1 {
        text-align: center;
    }

    .link_dev {
        left:10px;
    }
}

@media(max-width:1199px) {

    .timeline-label {
        width: 100%;
    }
}